.container {
    display: flex;
    &:global(.top) {
        flex-direction: column;
    }
    &:global(.left) {
        flex-direction: row;
    }
}
.label {
    transition: all 0.3s ease;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    /* Neutrals/600 Text Hide */

    color: #5f6475;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    &:global(.top) {
        margin-bottom: 4px;
    }
    &:global(.left) {
        margin-bottom: 16px;
    }

    &:global(.error) {
        color: #ff4d4f;
    }
}
.labelWrapper {
    min-width: 150px;
    display: flex;
    &:global(.top) {
        justify-content: flex-start;
    }
    &:global(.left) {
        justify-content: flex-end;
    }
}
.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    :global(.ant-input-affix-wrapper.ant-input-affix-wrapper-focused) {
        :global(.ant-input) {
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0 30px #fff inset !important;
            }
            background: #fff;
        }
    }
    :global(.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-focused):not(.ant-input-affix-wrapper-disabled)) {
        border-color: #f8f8f9;
        background: #f8f8f9;
        :global(.ant-input) {
            background: #f8f8f9;
        }
    }

    &:global(.notPrefix) {
        :global(.ant-input):focus {
            background: #fff;
        }
        :global(.ant-input):not(:focus) {
            border-color: #f8f8f9;
            background: #f8f8f9;
        }
        :global(.ant-input.ant-input-disabled) {
            background: #f0f0f0;
            border-color: #f0f0f0;
        }
    }
    :global(.ant-input-affix-wrapper-disabled) {
        background: #f0f0f0;
        border-color: #f0f0f0;
    }

    :global(.ant-select) {
        width: 100%;

        &:global(.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
            background: #fff;
        }
        &:global(.ant-select:not(.ant-select-customize-input):not(.ant-select-focused) .ant-select-selector) {
            border-color: #f8f8f9;
            background: #f8f8f9;
        }
        &:global(.ant-select:not(.ant-select-customize-input).ant-select-disabled .ant-select-selector) {
            background: #f0f0f0;
            border-color: #f0f0f0;
        }
    }

    :global(.ant-picker) {
        width: 100%;

        &:global(.ant-picker.ant-picker-focused) {
            background: #fff;
        }
        &:global(.ant-picker:not(.ant-picker-focused)) {
            border-color: #f8f8f9;
            background: #f8f8f9;
        }
        &:global(.ant-picker.ant-picker-disabled) {
            background: #f0f0f0;
            border-color: #f0f0f0;
        }
    }

    .uploadContainer {
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;
        .action {
            margin-top: 12px;
            display: flex;
            gap: 12px;
        }
        :global(.ant-upload-wrapper) {
        }
        :global(.ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover) {
            border-color: green;
        }
        :global(.ant-upload-wrapper .ant-upload-drag) {
            border-radius: 50%;
            border-style: solid;
            width: 100%;
            height: 100%;
        }
        :global(.ant-upload .ant-upload-btn) {
            padding: 0;
            display: flex;
        }
        :global(.ant-upload-drag-container) {
            width: 176px;
            height: 176px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.errorMessage {
    color: red;
    height: fit-content;
    font-size: 11px;
    margin-bottom: 6px;
    transition: all 0.3s ease;
    &:global(.show) {
        opacity: 1;
        visibility: visible;
    }
    &:global(.hidden) {
        display: inline-block;
        opacity: 0;
        visibility: hidden;
    }
}

.required {
    color: red;
}
