.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #5f6475;
}
.pagination {
    :global(.ant-pagination-item-link),
    &:global(.ant-pagination .ant-pagination-item a) {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #9196a6 !important;
    }
    &:global(.ant-pagination .ant-pagination-item-active) {
        border: none;
        a {
            color: #1f9454 !important;
            background: #f8f8f9;
            border-radius: 8px;
        }
    }

    &:global(.ant-pagination .ant-pagination-next .ant-pagination-item-link),
    &:global(.ant-pagination .ant-pagination-prev .ant-pagination-item-link) {
        background: #ffffff;
        border-radius: 8px;
        border: 1px solid #f1f2f4;
    }

    :global(.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
        border: 1px solid #f1f2f4;
    }
    &:global(.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon),
    &:global(.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon) {
        color: #1f9454 !important;
    }
}
