.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #111215;
}

.selectDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .item {
        cursor: pointer;
        user-select: none;
        transition: all ease 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40px;
        padding: 4px;
        &.selected {
            background: #ffffff;
            border-radius: 40px;
            .day {
                color: #111215;
            }
            .date {
                color: #fff;

                /* Active/500 */

                background: #1f9454;
                border-radius: 32px;
            }
        }
        .day {
            width: 32px;
            height: 32px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #5f6475;
        }
        .date {
            width: 32px;
            height: 32px;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #111215;
        }
    }
}

.btn {
    cursor: pointer;
    user-select: none;
}
