.container {
    display: flex;
    gap: 12px;
    width: fit-content;
    background: #f8f8f9;
    border-radius: 12px;
    padding: 8px;
    position: relative;
}
.content {
    z-index: 2;
    cursor: pointer;
}
.switcher {
    transition: all ease 0.3s;
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    z-index: 1;
    top: 2px;
    left: 2px;
    background: #ffffff;
    border-radius: 10px;
    transform: translateX(100%);
}
